html,
body {
	height: 100%;
}

body {
	background: url("imgs/eastEndToronto.jpg");
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
}

#boss-container {
	background-color: white;
	height: 100%;
	width: 70%;   
	margin-left: auto;
	margin-right: auto;
	border:3px black solid;
}

img {
	display: block;
	margin: 0 auto;
	margin-top: 10%;
	padding: 20px;
	border: 3px black solid;
}

h1 {
	padding: 40px;
	color: black;
	text-decoration: underline;
	text-align: center;
}

span {
	color: purple;
	text-decoration: none;
}

h3 {
	color: black;
	text-align: center;
}

#bossFooter  {
	padding: 40px; 
	color: black;
	text-align: center;
}

#bossPanel {
    background-color: black;
    color: white;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	height: 100%;
	width: 100%;
    padding: 10px;
    margin: auto;
    text-align: center;
	align-items: center;
}

#bossPanel {
    display: none;
}
