html,
body {
	height: 100%;
}

body {
	background: url("imgs/montreal.jpg");
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	color: white;
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
}

#boss-container {
	background-color: white;
	height: 100%;
	width: 70%;   
	margin-left: auto;
	margin-right: auto;
	margin-top:0;
	border:3px black solid;
}

.titleclass {
	color: black;
	text-align: center;
}

p {
	color: black;
	text-align: center;
}